name: Push Docker Container Beta

on:
  push:
    tags:
      - "v*"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Read version from package.json
        id: get_version
        run: |
          version=$(jq -r .version package.json)
          echo "Version read from package.json: $version"
          echo "version=$version" >> $GITHUB_OUTPUT
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Promote alpha to beta
        id: promote-alpha-to-beta
        run: |
          docker pull soosio/sast:alpha
          docker tag soosio/sast:alpha soosio/sast:beta
          docker push soosio/sast:beta
          docker tag soosio/sast:alpha soosio/sast:v${{ steps.get_version.outputs.version }}
          docker push soosio/sast:v${{ steps.get_version.outputs.version }}

